In [29]:
import pandas as pd
import math as m
from matplotlib import pyplot as plt
import seaborn as sns 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.svm import SVC
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

In [31]:
df=pd.read_csv("salaries.csv")
df.shape

(16, 4)

In [33]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

### Feature Engineering: for columns company and job using One hotencoding and for degree simply assigning value since it is ordinal data

In [36]:
df=pd.get_dummies(df,columns=['company','job'],drop_first=True)

In [38]:
df['degree'].unique()

array(['bachelors', 'masters'], dtype=object)

In [42]:
df['degree']=df['degree'].apply(lambda x: 0 if x=='bachelors' else 1)

In [44]:
df.head()

,degree,salary_more_then_100k,company_facebook,company_google,job_computer programmer,job_sales executive
0,0,0,False,True,False,True
1,1,0,False,True,False,True
2,0,1,False,True,False,False
3,1,1,False,True,False,False
4,0,0,False,True,True,False

### Model Evaluation and Training

In [53]:
X=df.drop('salary_more_then_100k',axis=1)
y=df['salary_more_then_100k']

In [65]:
### since we only have 16 rows i am not doing train test split

In [67]:
model=DecisionTreeClassifier()
model.fit(X,y)
y_pred=model.predict(X)
report=classification_report(y,y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      1.00      1.00        10

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

In [69]:
### printing Decision Tree

In [85]:
q=X.columns.to_list()

In [89]:
print(export_text(model,feature_names=q))

|--- company_facebook <= 0.50
|   |--- job_sales executive <= 0.50
|   |   |--- degree <= 0.50
|   |   |   |--- company_google <= 0.50
|   |   |   |   |--- class: 0
|   |   |   |--- company_google >  0.50
|   |   |   |   |--- job_computer programmer <= 0.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- job_computer programmer >  0.50
|   |   |   |   |   |--- class: 0
|   |   |--- degree >  0.50
|   |   |   |--- class: 1
|   |--- job_sales executive >  0.50
|   |   |--- class: 0
|--- company_facebook >  0.50
|   |--- class: 1